body{
    height: 500vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Header */

header{
    width: 100%;
}

.logo{
    position: relative;
    width: 10rem;
    height: 3rem;
}

.navegacion{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegacion a,button{
    margin: 5px;
}

.navegacion a{
    text-decoration: none;
    color: white;
}

.navegacion a p{
    margin: 0;
}

/* ------------------- */

main{
    height: 95%;
    width: 100%;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Estilos del enganche */

.Enganche{
    min-height: 20%;
    background-image: url("imagenes/2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloEnganche{
    text-transform: uppercase;
    text-decoration-style: solid;
    font-size: 10vh;
    position: relative;
    margin: 0 2%;
    margin-right: 50%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
}

.parrafoEnganche{
    font-size: 2vh;
    position: relative;
    margin: 0 2%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
}

/* Estilos de la prueba gratis */

.PruebaGratis{
    min-height: 20%;
    background-image: url("imagenes/3.jpeg");
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.PruebaGratis p{
    margin: 1% 2%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    font-size: 7vh;
}

/* Estilos de Opciones de Sonido */

.OpcionesSonido{
    min-height: 20%;
    background-image: url("imagenes/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OpcionesSonido p{
    text-transform: uppercase;
    text-decoration-style: solid;
    margin: 1% 2%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    font-size: 8vh;
    position: relative;
    margin-right: 50%;
}

/* Estilos de los planes */

.Planes{
    background-color: gainsboro;
    text-transform: uppercase;
    text-decoration-style: solid;
    font-size: 1.2rem;
    min-height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Planes p{
    color: black;
    font-size: 9vh;
}

.planesContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.planesContainer div{
    background-color: aliceblue;
    flex-grow: 1;
    margin: 2% 1%;
    box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
}

/* Estilo de Quienes Somos */

.QuienesSomos{
    min-height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.QuienesSomos .titulo{
    font-size: 10vh;
    position: relative;
    margin: 0;
}

.QuienesSomos .parrafo{
    font-size: 2vh;
    text-align: center;
    margin: 0 25%;
}

/* Footer */

footer{
    height: 5%;
    width: 100%;
    position: relative;
    background-color: blue;
}

/* Responsive */

@media screen and (max-width: 800px) {
    
    body{
        height: 200vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    
    main{
        height: 95%;
        width: 100%;
    }
    
    .container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    /* Estilos del enganche */
    .Enganche{
        min-height: 20%;
        background-image: url("imagenes/2.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tituloEnganche{
        text-transform: uppercase;
        text-decoration-style: solid;
        font-size: 3vh;
        position: relative;
        margin: 0 2%;
        margin-right: 30%;
    }

    .parrafoEnganche{
        position: relative;
        margin: 0 2%;
        font-size: 1vh;
    }

    /* Estilos de la prueba gratis */

    .PruebaGratis{
        min-height: 20%;
        background-image: url("imagenes/3.jpeg");
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: aliceblue;
        display: flex;
        flex-direction: column;
    }

    .PruebaGratis p{
        font-size: 2vh;
    }

    /* Estilos de Opciones de Sonido */

    .OpcionesSonido{
        min-height: 20%;
        background-image: url("imagenes/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: aliceblue;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .OpcionesSonido p{
        opacity: 1;
        text-transform: uppercase;
        text-decoration-style: solid;
        font-size: 1.2rem;
        position: relative;
        margin-right: 60%;
    }

    /* Estilos de los planes */

    .Planes{
        background-color: gainsboro;
        text-transform: uppercase;
        text-decoration-style: solid;
        font-size: 1.2rem;
        min-height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Planes p{
        font-size: 3vh;
    }

    .planesContainer{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }

    .planesContainer div{
        background-color: aliceblue;
        flex-grow: 1;
        margin: 2% 1%;
        box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
    }

    /* Estilo de Quienes Somos */

    .QuienesSomos{
        min-height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: grey;
    }

    .QuienesSomos .titulo{
        font-size: 3vh;
    }

    .QuienesSomos .parrafo{
        font-size: 1vh;
    }
}