:root{
    --font-titulos: 'Raleway';
    --font-texto:  'Quicksand';

    --font-width-titulo: 600;
    --font-width-texto: 500;
    --font-width-buttons: 600;

    --card-color-azul: #1371FF;
    --card-color-amarillo: #e4e800;
    --card-color-verde: #00dba8;

    --color-white: #ffffff;
    --color-gris: #A7A7A7;
    --color-verde: #74FF1F;
    --color-azul: #1371FF;
}

.section-1{
    background-color: #1B1B1B;
}
.section-1__header{
    
}
.section-1__logo img{
    width: 10rem;
}
.section-1__options{
    font-weight: var(--font-width-buttons);
    font-family: var(--font-texto);
}
.section-1__options .nav-link{
    color: var(--color-white);
}
    .section-1__link:hover{
        color: var(--color-gris)
    }

.section-1__button{
    border-radius: 12px;
    border: 1px solid white;

    text-shadow: 12px 12px 17px rgb(0 0 0/ 0.4);
}

    .section-1__button--registro{
        border-color: var(--color-verde);
    }
    .section-1__button--registro:hover{
        border-color: var(--color-verde);
        background-color: var(--color-verde);
    }
    .section-1__button--login{
        border-color: var(--color-azul);
    }
    .section-1__button--login:hover{
        border-color: var(--color-azul);
        background-color: var(--color-azul);
    }

.section-2{
    color: white;
}
.section-2__contain{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-2__title{
    font-size: 4.5rem;
}
.section-2__disco{
    
}


.section-3{
    background-color: rgb(90, 90, 90);
}
.section-3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.section-3__title{
    position: relative; 
    
    margin-left: auto;
    margin-right: auto;
    
    color: var(--color-white);
    
    font-size: 3rem;
    font-weight: var(--font-width-titulo);
}


.card-sonido{
    width: 100%;
    border: 1px solid var(--card-color-azul);

    background-color: rgb(0 0 0/ 0.6);

}

/*CSS DE LA SECCION 3 CARDS*/

.card-sonido__h5{    
    color: var(--color-white);

    font-size: 1.625rem;
    font-family: var(--font-titulos);
    font-weight: var(--font-width-titulo);
}
    .card-sonido__h5--span{
        font-size: 1.25rem;

    }
.card-sonido__p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    color: var(--color-gris);

    font-size: 1rem;
    font-family: var(--font-texto);
    font-weight: var(--font-width-texto);
}

.card-sonido__btn{
    border: 1px solid var(--card-color-azul);

    color: var(--color-white);

    font-size: 1.25rem;
    font-family: var(--font-texto);
    font-weight: var(--font-width-buttons);
}

.card-sonido__btn:hover{
    color: var(--color-white);
}
    .card-sonido__btn--1:hover{
        border: 1px solid var(--card-color-azul);
        background-color: var(--card-color-azul);
    }
    .card-sonido__btn--2:hover{
        border: 1px solid var(--card-color-amarillo);
        background-color: var(--card-color-amarillo);
    }
    .card-sonido__btn--3:hover{
        border: 1px solid var(--card-color-verde);
        background-color: var(--card-color-verde);
    }


.border-blue{
    border: 1px solid var(--card-color-azul);
}
.border-yellow{
    border: 1px solid var(--card-color-amarillo);
}
.border-green{
    border: 1px solid var(--card-color-verde);
}

.section-5{
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}